In [1]:
# Decision Tree Classification

# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Importing the dataset
dataset = pd.read_csv('Social_Network_Ads.csv')
X = dataset.iloc[:, [2, 3]].values
y = dataset.iloc[:, 4].values

In [3]:
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
5    15728773    Male   27            58000          0
6    15598044  Female   27            84000          0
7    15694829  Female   32           150000          1
8    15600575    Male   25            33000          0
9    15727311  Female   35            65000          0
10   15570769  Female   26            80000          0
11   15606274  Female   26            52000          0
12   15746139    Male   20            86000          0
13   15704987    Male   32            18000          0
14   15628972    Male   18            82000          0
15   15697686    Male   29            80000          0
16   15733883    Male   47            25000          1
17   15617482    Male   45            26000          1
18   15704583    Male   46            28000          1
19   15621083  Female   48            29000          1
20   15649487    Male   45            22000          1
21   15736760  Female   47            49000          1
22   15714658    Male   48            41000          1
23   15599081  Female   45            22000          1
24   15705113    Male   46            23000          1
25   15631159    Male   47            20000          1
26   15792818    Male   49            28000          1
27   15633531  Female   47            30000          1
28   15744529    Male   29            43000          0
29   15669656    Male   31            18000          0
..        ...     ...  ...              ...        ...
370  15611430  Female   60            46000          1
371  15774744    Male   60            83000          1
372  15629885  Female   39            73000          0
373  15708791    Male   59           130000          1
374  15793890  Female   37            80000          0
375  15646091  Female   46            32000          1
376  15596984  Female   46            74000          0
377  15800215  Female   42            53000          0
378  15577806    Male   41            87000          1
379  15749381  Female   58            23000          1
380  15683758    Male   42            64000          0
381  15670615    Male   48            33000          1
382  15715622  Female   44           139000          1
383  15707634    Male   49            28000          1
384  15806901  Female   57            33000          1
385  15775335    Male   56            60000          1
386  15724150  Female   49            39000          1
387  15627220    Male   39            71000          0
388  15672330    Male   47            34000          1
389  15668521  Female   48            35000          1
390  15807837    Male   48            33000          1
391  15592570    Male   47            23000          1
392  15748589  Female   45            45000          1
393  15635893    Male   60            42000          1
394  15757632  Female   39            59000          0
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [4]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

In [5]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)
X_train

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

array([[ 0.58164944, -0.88670699],
       [-0.60673761,  1.46173768],
       [-0.01254409, -0.5677824 ],
       [-0.60673761,  1.89663484],
       [ 1.37390747, -1.40858358],
       [ 1.47293972,  0.99784738],
       [ 0.08648817, -0.79972756],
       [-0.01254409, -0.24885782],
       [-0.21060859, -0.5677824 ],
       [-0.21060859, -0.19087153],
       [-0.30964085, -1.29261101],
       [-0.30964085, -0.5677824 ],
       [ 0.38358493,  0.09905991],
       [ 0.8787462 , -0.59677555],
       [ 2.06713324, -1.17663843],
       [ 1.07681071, -0.13288524],
       [ 0.68068169,  1.78066227],
       [-0.70576986,  0.56295021],
       [ 0.77971394,  0.35999821],
       [ 0.8787462 , -0.53878926],
       [-1.20093113, -1.58254245],
       [ 2.1661655 ,  0.93986109],
       [-0.01254409,  1.22979253],
       [ 0.18552042,  1.08482681],
       [ 0.38358493, -0.48080297],
       [-0.30964085, -0.30684411],
       [ 0.97777845, -0.8287207 ],
       [ 0.97777845,  1.8676417 ],
       [-0.01254409,  1.25878567],
       [-0.90383437,  2.27354572],
       [-1.20093113, -1.58254245],
       [ 2.1661655 , -0.79972756],
       [-1.39899564, -1.46656987],
       [ 0.38358493,  2.30253886],
       [ 0.77971394,  0.76590222],
       [-1.00286662, -0.30684411],
       [ 0.08648817,  0.76590222],
       [-1.00286662,  0.56295021],
       [ 0.28455268,  0.07006676],
       [ 0.68068169, -1.26361786],
       [-0.50770535, -0.01691267],
       [-1.79512465,  0.35999821],
       [-0.70576986,  0.12805305],
       [ 0.38358493,  0.30201192],
       [-0.30964085,  0.07006676],
       [-0.50770535,  2.30253886],
       [ 0.18552042,  0.04107362],
       [ 1.27487521,  2.21555943],
       [ 0.77971394,  0.27301877],
       [-0.30964085,  0.1570462 ],
       [-0.01254409, -0.53878926],
       [-0.21060859,  0.1570462 ],
       [-0.11157634,  0.24402563],
       [-0.01254409, -0.24885782],
       [ 2.1661655 ,  1.11381995],
       [-1.79512465,  0.35999821],
       [ 1.86906873,  0.12805305],
       [ 0.38358493, -0.13288524],
       [-1.20093113,  0.30201192],
       [ 0.77971394,  1.37475825],
       [-0.30964085, -0.24885782],
       [-1.6960924 , -0.04590581],
       [-1.00286662, -0.74174127],
       [ 0.28455268,  0.50496393],
       [-0.11157634, -1.06066585],
       [-1.10189888,  0.59194336],
       [ 0.08648817, -0.79972756],
       [-1.00286662,  1.54871711],
       [-0.70576986,  1.40375139],
       [-1.29996338,  0.50496393],
       [-0.30964085,  0.04107362],
       [-0.11157634,  0.01208048],
       [-0.30964085, -0.88670699],
       [ 0.8787462 , -1.3505973 ],
       [-0.30964085,  2.24455257],
       [ 0.97777845,  1.98361427],
       [-1.20093113,  0.47597078],
       [-1.29996338,  0.27301877],
       [ 1.37390747,  1.98361427],
       [ 1.27487521, -1.3505973 ],
       [-0.30964085, -0.27785096],
       [-0.50770535,  1.25878567],
       [-0.80480212,  1.08482681],
       [ 0.97777845, -1.06066585],
       [ 0.28455268,  0.30201192],
       [ 0.97777845,  0.76590222],
       [-0.70576986, -1.49556302],
       [-0.70576986,  0.04107362],
       [ 0.48261718,  1.72267598],
       [ 2.06713324,  0.18603934],
       [-1.99318916, -0.74174127],
       [-0.21060859,  1.40375139],
       [ 0.38358493,  0.59194336],
       [ 0.8787462 , -1.14764529],
       [-1.20093113, -0.77073441],
       [ 0.18552042,  0.24402563],
       [ 0.77971394, -0.30684411],
       [ 2.06713324, -0.79972756],
       [ 0.77971394,  0.12805305],
       [-0.30964085,  0.6209365 ],
       [-1.00286662, -0.30684411],
       [ 0.18552042, -0.3648304 ],
       [ 2.06713324,  2.12857999],
       [ 1.86906873, -1.26361786],
       [ 1.37390747, -0.91570013],
       [ 0.8787462 ,  1.25878567],
       [ 1.47293972,  2.12857999],
       [-0.30964085, -1.23462472],
       [ 1.96810099,  0.91086794],
       [ 0.68068169, -0.71274813],
       [-1.49802789,  0.35999821],
       [ 0.77971394, -1.3505973 ],
       [ 0.38358493, -0.13288524],
       [-1.00286662,  0.41798449],
       [-0.01254409, -0.30684411],
       [-1.20093113,  0.41798449],
       [-0.90383437, -1.20563157],
       [-0.11157634,  0.04107362],
       [-1.59706014, -0.42281668],
       [ 0.97777845, -1.00267957],
       [ 1.07681071, -1.20563157],
       [-0.01254409, -0.13288524],
       [-1.10189888, -1.52455616],
       [ 0.77971394, -1.20563157],
       [ 0.97777845,  2.07059371],
       [-1.20093113, -1.52455616],
       [-0.30964085,  0.79489537],
       [ 0.08648817, -0.30684411],
       [-1.39899564, -1.23462472],
       [-0.60673761, -1.49556302],
       [ 0.77971394,  0.53395707],
       [-0.30964085, -0.33583725],
       [ 1.77003648, -0.27785096],
       [ 0.8787462 , -1.03167271],
       [ 0.18552042,  0.07006676],
       [-0.60673761,  0.8818748 ],
       [-1.89415691, -1.40858358],
       [-1.29996338,  0.59194336],
       [-0.30964085,  0.53395707],
       [-1.00286662, -1.089659  ],
       [ 1.17584296, -1.43757673],
       [ 0.18552042, -0.30684411],
       [ 1.17584296, -0.74174127],
       [-0.30964085,  0.07006676],
       [ 0.18552042,  2.09958685],
       [ 0.77971394, -1.089659  ],
       [ 0.08648817,  0.04107362],
       [-1.79512465,  0.12805305],
       [-0.90383437,  0.1570462 ],
       [-0.70576986,  0.18603934],
       [ 0.8787462 , -1.29261101],
       [ 0.18552042, -0.24885782],
       [-0.4086731 ,  1.22979253],
       [-0.01254409,  0.30201192],
       [ 0.38358493,  0.1570462 ],
       [ 0.8787462 , -0.65476184],
       [ 0.08648817,  0.1570462 ],
       [-1.89415691, -1.29261101],
       [-0.11157634,  0.30201192],
       [-0.21060859, -0.27785096],
       [ 0.28455268, -0.50979612],
       [-0.21060859,  1.6067034 ],
       [ 0.97777845, -1.17663843],
       [-0.21060859,  1.63569655],
       [ 1.27487521,  1.8676417 ],
       [-1.10189888, -0.3648304 ],
       [-0.01254409,  0.04107362],
       [ 0.08648817, -0.24885782],
       [-1.59706014, -1.23462472],
       [-0.50770535, -0.27785096],
       [ 0.97777845,  0.12805305],
       [ 1.96810099, -1.3505973 ],
       [ 1.47293972,  0.07006676],
       [-0.60673761,  1.37475825],
       [ 1.57197197,  0.01208048],
       [-0.80480212,  0.30201192],
       [ 1.96810099,  0.73690908],
       [-1.20093113, -0.50979612],
       [ 0.68068169,  0.27301877],
       [-1.39899564, -0.42281668],
       [ 0.18552042,  0.1570462 ],
       [-0.50770535, -1.20563157],
       [ 0.58164944,  2.01260742],
       [-1.59706014, -1.49556302],
       [-0.50770535, -0.53878926],
       [ 0.48261718,  1.83864855],
       [-1.39899564, -1.089659  ],
       [ 0.77971394, -1.37959044],
       [-0.30964085, -0.42281668],
       [ 1.57197197,  0.99784738],
       [ 0.97777845,  1.43274454],
       [-0.30964085, -0.48080297],
       [-0.11157634,  2.15757314],
       [-1.49802789, -0.1038921 ],
       [-0.11157634,  1.95462113],
       [-0.70576986, -0.33583725],
       [-0.50770535, -0.8287207 ],
       [ 0.68068169, -1.37959044],
       [-0.80480212, -1.58254245],
       [-1.89415691, -1.46656987],
       [ 1.07681071,  0.12805305],
       [ 0.08648817,  1.51972397],
       [-0.30964085,  0.09905991],
       [ 0.08648817,  0.04107362],
       [-1.39899564, -1.3505973 ],
       [ 0.28455268,  0.07006676],
       [-0.90383437,  0.38899135],
       [ 1.57197197, -1.26361786],
       [-0.30964085, -0.74174127],
       [-0.11157634,  0.1570462 ],
       [-0.90383437, -0.65476184],
       [-0.70576986, -0.04590581],
       [ 0.38358493, -0.45180983],
       [-0.80480212,  1.89663484],
       [ 1.37390747,  1.28777882],
       [ 1.17584296, -0.97368642],
       [ 1.77003648,  1.83864855],
       [-0.90383437, -0.24885782],
       [-0.80480212,  0.56295021],
       [-1.20093113, -1.5535493 ],
       [-0.50770535, -1.11865214],
       [ 0.28455268,  0.07006676],
       [-0.21060859, -1.06066585],
       [ 1.67100423,  1.6067034 ],
       [ 0.97777845,  1.78066227],
       [ 0.28455268,  0.04107362],
       [-0.80480212, -0.21986468],
       [-0.11157634,  0.07006676],
       [ 0.28455268, -0.19087153],
       [ 1.96810099, -0.65476184],
       [-0.80480212,  1.3457651 ],
       [-1.79512465, -0.59677555],
       [-0.11157634,  0.12805305],
       [ 0.28455268, -0.30684411],
       [ 1.07681071,  0.56295021],
       [-1.00286662,  0.27301877],
       [ 1.47293972,  0.35999821],
       [ 0.18552042, -0.3648304 ],
       [ 2.1661655 , -1.03167271],
       [-0.30964085,  1.11381995],
       [-1.6960924 ,  0.07006676],
       [-0.01254409,  0.04107362],
       [ 0.08648817,  1.05583366],
       [-0.11157634, -0.3648304 ],
       [-1.20093113,  0.07006676],
       [-0.30964085, -1.3505973 ],
       [ 1.57197197,  1.11381995],
       [-0.80480212, -1.52455616],
       [ 0.08648817,  1.8676417 ],
       [-0.90383437, -0.77073441],
       [-0.50770535, -0.77073441],
       [-0.30964085, -0.91570013],
       [ 0.28455268, -0.71274813],
       [ 0.28455268,  0.07006676],
       [ 0.08648817,  1.8676417 ],
       [-1.10189888,  1.95462113],
       [-1.6960924 , -1.5535493 ],
       [-1.20093113, -1.089659  ],
       [-0.70576986, -0.1038921 ],
       [ 0.08648817,  0.09905991],
       [ 0.28455268,  0.27301877],
       [ 0.8787462 , -0.5677824 ],
       [ 0.28455268, -1.14764529],
       [-0.11157634,  0.67892279],
       [ 2.1661655 , -0.68375498],
       [-1.29996338, -1.37959044],
       [-1.00286662, -0.94469328],
       [-0.01254409, -0.42281668],
       [-0.21060859, -0.45180983],
       [-1.79512465, -0.97368642],
       [ 1.77003648,  0.99784738],
       [ 0.18552042, -0.3648304 ],
       [ 0.38358493,  1.11381995],
       [-1.79512465, -1.3505973 ],
       [ 0.18552042, -0.13288524],
       [ 0.8787462 , -1.43757673],
       [-1.99318916,  0.47597078],
       [-0.30964085,  0.27301877],
       [ 1.86906873, -1.06066585],
       [-0.4086731 ,  0.07006676],
       [ 1.07681071, -0.88670699],
       [-1.10189888, -1.11865214],
       [-1.89415691,  0.01208048],
       [ 0.08648817,  0.27301877],
       [-1.20093113,  0.33100506],
       [-1.29996338,  0.30201192],
       [-1.00286662,  0.44697764],
       [ 1.67100423, -0.88670699],
       [ 1.17584296,  0.53395707],
       [ 1.07681071,  0.53395707],
       [ 1.37390747,  2.331532  ],
       [-0.30964085, -0.13288524],
       [ 0.38358493, -0.45180983],
       [-0.4086731 , -0.77073441],
       [-0.11157634, -0.50979612],
       [ 0.97777845, -1.14764529],
       [-0.90383437, -0.77073441],
       [-0.21060859, -0.50979612],
       [-1.10189888, -0.45180983],
       [-1.20093113,  1.40375139]])

In [6]:
# Fitting Decision Tree Classification to the Training set
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier(criterion = 'entropy', random_state = 1)
classifier.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=1,
            splitter='best')

In [7]:
# Predicting the Test set results
y_pred = classifier.predict(X_test)

In [8]:
y_pred

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1,
       0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1], dtype=int64)

In [9]:
# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
cm

array([[62,  6],
       [ 3, 29]], dtype=int64)

In [10]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)*100

91.0